h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}

p, a{
  font-family: 'Montserrat', sans-serif;
}

h3, h4, h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.jumbotron{
    background-color:  #A020F0;
    color: rgb(255, 255, 255);
    height: 4rem;
}


.searchCol{
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 1rem;
    padding-right: 2rem;
    margin-right: -1rem;
}

.mainday{
margin-left:100px ;


}

